$color: #f5f5f5;
$text-color: #888;

.wp-block-webart-webblock {
	font-size: 60px;
	background: $color;
	color: $text-color;

	&.webart-align-left {
		text-align: left;
	}

	&.webart-align-center {
		text-align: center;
	}

	&.webart-align-right {
		text-align: right;
	}
}
